.modal-header
    p.modal-title Welcome to Kangarocourt!

.modal-body
    p To participate in the dispute, you should Login via Facebook!

    .login.btn
        a(ng-href='{{modal.Authentication.oAuthLinks().facebook}}')
            i.fa.fa-facebook-square
            | Log in with Facebook

    .back.btn
        a(ui-sref="disputes.list({ category : ''})")
            | Return to Main page