script#template-front(type="text/html")
    div.container.wrapper
        div.row
            div.col-lg-2.col-md-2.col-sm-2.col-xs-12.about
                p What?
                span You’re right.  Probably.  So prove it.  Kangaroo Court let’s you resolve small disputes in a fun way using your friends or the masses to judge who’s right and award money to the victor.
                br
                p Why?
                span Don’t let little things blow up with people that matter.  This is fun, fast resolution.  And be a Kangaroo Judge to help other people police their small disputes.
            div.col-lg-7.col-md-7.col-sm-7.col-xs-12.disputes
                | <% disputes.forEach(function(el) { %>
                div.dispute
                    | <img id='img' src='/<%= el.imgUrl %>'>
                    | <a href="disputes/<%= el.id %>"><p><%= cutText(el.name, 50) %></p></a>
                    span.text <%= cutText(el.description, 120) %>
                | <% }); %>
            div.col-lg-3.col-md-3.col-sm-3.col-xs-12