header.header-area
    .container: .row
        .col-md-6.col-sm-6.col-xs-12.pull-left
            img.img-responsive.logo-img(src='/img/logo.png', alt='')
        .col-md-6.col-sm-6.col-xs-12.pull-right
            .header-right-area
                ul.ul-header
                    li(ng-show='!authenticated')
                        a(ng-href='{{oauthLinks.facebook}}')
                            | Login

                    li(ng-controller='dropdownCtrl', ng-show='authenticated')
                        span.dropdown(dropdown='', on-toggle='toggled(open)')
                            a.dropdown-toggle(href='', dropdown-toggle='')
                                img#avatar(ng-src='{{user.imgUrl}}', alt='')
                                span {{user.firstName}}
                            ul.dropdown-menu
                                li: a(href='/logout')
                                    span.glyphicon.glyphicon-log-out
                                    | Logout

                    li.case(ng-show='authenticated')
                        a(ng-href='/user/{{user.id}}')
                            img(src='/img/case.png', alt='')
                            |  My Cases
                button(ng-click='createDispute()')
                    span +
                    |  New complaint
section.section-navigation
    .container
        button.btn.hidden-sm.hidden-md.hidden-lg(ng-click="toggleCollapsedMenu()")#collapse-btn
            span MENU
            span.glyphicon.glyphicon-list
        div(collapse="collapsedMenu", style="width:100%;")
            ul.ul-mainmenu.hidden-sm.hidden-md.hidden-lg
                li: a(ng-class='mkActiveAll()' href='/') All
                li(ng-repeat='category in categories')
                    a(ng-class='mkActive(category)', ng-href='/category/{{category}}') {{ category }}
        ul.ul-mainmenu.hidden-xs
            li: a(ng-class='mkActiveAll()' href='/') All
            li(ng-repeat='category in categories')
                a(ng-class='mkActive(category)', ng-href='/category/{{category}}') {{ category }}
