header.header-area
    .container: .row
        .col-md-6.col-sm-6.col-xs-12.pull-left
            img.img-responsive.logo-img(src='/img/logo.png', alt='')
        .col-md-6.col-sm-6.col-xs-12.pull-right
            .header-right-area
                ul.ul-header
                    li(ng-show='!authenticated')
                        a(ng-href='{{oauthLinks.facebook}}')
                            span Login
                    li(ng-show='authenticated')
                        a(ng-href='/')
                            img#avatar(ng-src='{{user.imgUrl}}', alt='')
                            span {{user.name}}
                    li.case(ng-show='authenticated')
                        a(href='')
                            img(src='/img/case.png', alt='')
                            |  My Cases
                    li(ng-show='authenticated')
                        a(href='/logout')
                            |  Logout
                button(ng-click='createDispute()')
                    span +
                    |  New complaint
section.section-navigation
    .container
        ul.ul-mainmenu
            li: a(href='#')#all All
            li: a(href='#')#love Love
            li: a(href='#')#animals Animals
            li: a(href='#')#kids Kids
            li: a(href='#')#money Money
            li: a(href='#')#work Work
            li: a(href='#')#health Health
            li: a(href='#')#intimacy Intimacy
            li: a(href='#')#miscellaneous Miscellaneous