script#template-front(type="text/html")
    .container
        .row
            .col-md-9.col-sm-9
                .single-content
                    .row
                        .col-md-2.col-sm-2
                            img.img-circle.img-responsive(src='img/img-1.png', alt='')
                        .col-md-10.col-sm-10
                            .only-content-text
                                h2: a(href='disputes/1') Roommate broke iPhone and should pay to fix it.
                                p Two weeks ago my roommate stepped on my phone while drunk. I think he should pay to fix it...
                                ul.ul-single
                                    li: a(href='#') 227 Votes
                                    li /
                                    li: a(href='#') 2 hours ago
                                    li /
                                    li: a(href='#') Miscellaneous
                                    li /
                                    li: a(href='#') By Anonymous
                .single-content
                    .row
                        .col-md-2.col-sm-2
                            img.img-circle.img-responsive(src='img/img-1.png', alt='')
                        .col-md-10.col-sm-10
                            .only-content-text
                                h2: a(href='dispute/1') Roommate broke iPhone and should pay to fix it.
                                p Two weeks ago my roommate stepped on my phone while drunk. I think he should pay to fix it...
                                ul.ul-single
                                    li: a(href='#') 227 Votes
                                    li /
                                    li: a(href='#') 2 hours ago
                                    li /
                                    li: a(href='#') Miscellaneous
                                    li /
                                    li: a(href='#') By Anonymous
                .single-content
                    .row
                        .col-md-2.col-sm-2
                            img.img-circle.img-responsive(src='img/img-1.png', alt='')
                        .col-md-10.col-sm-10
                            .only-content-text
                                h2: a(href='dispute/1') Roommate broke iPhone and should pay to fix it.
                                p Two weeks ago my roommate stepped on my phone while drunk. I think he should pay to fix it...
                                ul.ul-single
                                    li: a(href='#') 227 Votes
                                    li /
                                    li: a(href='#') 2 hours ago
                                    li /
                                    li: a(href='#') Miscellaneous
                                    li /
                                    li: a(href='#') By Anonymous
                .single-content
                    .row
                        .col-md-2.col-sm-2
                            img.img-circle.img-responsive(src='img/img-1.png', alt='')
                        .col-md-10.col-sm-10
                            .only-content-text
                                h2: a(href='dispute/1') Roommate broke iPhone and should pay to fix it.
                                p Two weeks ago my roommate stepped on my phone while drunk. I think he should pay to fix it...
                                ul.ul-single
                                    li: a(href='#') 227 Votes
                                    li /
                                    li: a(href='#') 2 hours ago
                                    li /
                                    li: a(href='#') Miscellaneous
                                    li /
                                    li: a(href='#') By Anonymous
            .col-md-3.col-sm-3
                .right-content-area
                    .top-right-content
                        h3 What?
                        p
                            | You're right.  Probably.  So prove it.  Kangaroo Court let's you resolve small disputes in a fun way using your friends or the masses to judge who's right and award money to the victor.
                    .bottom-right-content
                        h3 Why?
                        p
                            | Don't let little things blow up with people that matter.  This is fun, fast resolution.  And be a Kangaroo Judge to help other people police their small disputes.
