script#template-dispute-one(type="text/html")
    div.container.wrapper
        div.row
            div.col-lg-2.col-md-2.col-sm-2.col-xs-12.about
                div.time
                    p Active Until
                    span.date <%= disputes.activeUntil.substr(0,10) %>
                div.jury
                    | <% if (disputes.Juries.length == 0) { %>
                    p No juries yet
                    a#invite(href=''): span You can invite one
                    | <% } else { %>
                    p Jury
                    | <% disputes.Juries.forEach(function(el) { %>
                    div#jury(src='')
                    a#invite(href=''): span Invite more
                    | <% })} %>

            div.col-lg-7.col-md-7.col-sm-9.col-xs-12.disputes
                div.claim
                    h4 Claim
                    h3.name <%= disputes.name %>
                    span.description <%= disputes.description %>

                | <% if (disputes.Arguments.length != 0) { %>
                div.disputants.defendant
                    | <img id='img' src='<%=user.imgUrl %>'></img>
                    div.description
                        p <%=disputes.Arguments[0].role %> - Argument
                        span.text <%= disputes.Arguments[0].argument %>
                | <% } else { %>
                div.disputants.defendant
                    | <img id='img' src='<%=user.imgUrl %>'></img>
                    div.description
                        p Defendant - Argument
                        btn.btn.btn-default.text#addArgBtn Add your Argument
                        div.form-group#argInput
                            textarea.form-control#argument(type="text" placeholder="Add your ardument")
                            button.btn.btn-default#submit Send
                | <% } %>

                | <% if (disputes.Arguments.length == 2) { %>
                div.disputants.plaintiff
                    | <img id='img' src='plaintiffAvatar'></img>
                    div.description
                        p <%=disputes.Arguments[1].role %> - Argument
                        span.text <%= disputes.Arguments[1].argument %>
                | <% } else { %>
                div.disputants.plaintiff
                    | <img id='img' src='/images/plaintiff.png'></img>
                    div.description
                        p Plaintiff - Argument
                        span.text Waiting for plaintiff`s response...
                | <% } %>

                div.row.votes
                    div.col-md-6.col-sm-6
                        button.btn.btn-success.vote#forDefendant Vote for Defendant
                    div.col-md-6.col-sm-6
                        button.btn.btn-primary.vote#forPlaintiff Vote for Plaintiff
                div.row#voteResult
                    div.col-md-2.col-sm-2
                        span Defender
                    div.col-md-9.col-sm-9.progress
                        div.progress-bar.progress-bar-success(style="")
                    div.col-md-2.col-sm-2
                        span Plaintiff
                    div.col-md-9.col-sm-9.progress
                        div.progress-bar.progress-bar-primary(style="")
            div.col-lg-3.col-md-3.col-sm-1.col-xs-12
