section.section-main-content.index2
    .container
        .content-part
            .row
                .col-lg-6.col-md-6.col-sm-6.col-xs-12
                    .single-content-part

                        h1 My Cases

                        .single-content-column(ng-repeat="dispute in disputesCtrl.disputes.myCases")
                            .row
                                .col-lg-3.col-md-3.col-sm-3(ng-show="!! dispute.imgUrl")
                                    img.img-circle.img-responsive(ng-src='/{{dispute.imgUrl}}')
                                .col-md-9.col-sm-9.col-sm-9
                                    .only-content-text.kid
                                        h2: a(ng-href='disputes/{{dispute.id}}') {{ dispute.name }}
                                        p {{ dispute.description }}
                                        ul.ul-single
                                            li: a(ng-href='disputes/{{dispute.id}}') {{ dispute.votes || 'no' }} votes
                                            li /
                                            li: a(ng-href='disputes/{{dispute.id}}') {{ dispute.createdAt | relativeDate }}
                                            li /
                                            li: a(ng-href='/category/{{dispute.category}}') {{ dispute.category }}
                                            br
                                            li: a(ng-show='dispute.isPrivate == 1', style='color: #FF504D;') Private

                .col-lg-6.col-md-6.col-sm-6.col-xs-12
                    .single-content-part

                        h1 Judging

                        .single-content-column(ng-repeat="dispute in disputesCtrl.disputes.judging")
                            .row
                                .col-lg-3.col-md-3.col-sm-3(ng-show="!! dispute.imgUrl")
                                    img.img-circle.img-responsive(ng-src='/{{dispute.imgUrl}}')
                                .col-md-9.col-sm-9.col-sm-9
                                    .only-content-text.kid
                                        h2: a(ng-href='disputes/{{dispute.id}}') {{ dispute.name }}
                                        p {{ dispute.description }}
                                        ul.ul-single
                                            li: a(ng-href='disputes/{{dispute.id}}') {{ dispute.votes || 'no' }} votes
                                            li /
                                            li: a(ng-href='disputes/{{dispute.id}}') {{ dispute.createdAt | relativeDate }}
                                            li /
                                            li: a(ng-href='/category/{{dispute.category}}') {{ dispute.category }}
                                            li /
                                            li: a(ng-href='disputes/{{dispute.id}}') By {{ dispute.Plaintiff.name }}
                                            br
                                            li: a(ng-show='dispute.isPrivate == 1', style='color: #FF504D;') Private