section.section-main-content.index3
    .container
        .row

            // Main content

            .col-md-9.col-sm-9
                .content-folio
                    button.btn.btn-danger#edit-btn(ng-click='ctrl.deleteDispute()')
                        span.glyphicon.glyphicon-trash
                    button.btn.btn-info#edit-btn()
                        span.glyphicon.glyphicon-pencil

                    header.folio-headline
                        span.cat Claim
                        h2 {{ ctrl.dispute.name }}
                        p
                            | {{ ctrl.dispute.description }}
                    article.folio-body
                        .row

                            // Plaintiff

                            .col-md-6.col-sm-6
                                .argument
                                    header.arg-heading
                                        .row
                                            .col-lg-3.col-md-3.col-sm-3.col-xs-3
                                                img.img-circle.img-responsive.img-disputants.one(ng-src='{{ ctrl.dispute.Plaintiff.imgUrl }}', alt='')
                                            .col-lg-9.col-md-9.col-sm-9.col-xs-9
                                                h2 Plaintiff - Argument

                                    .arg-body(ng-show='ctrl.dispute.Arguments.plaintiff')
                                        p {{ ctrl.dispute.Arguments.plaintiff.argument }}

                                    div(ng-show="ctrl.role == 'plaintiff'")
                                        .arg-add(ng-show='!ctrl.dispute.Arguments.plaintiff')
                                            textarea.form-control(type="text", ng-model="Plaintiff.argument")
                                            span.add
                                                i.fa.fa-plus
                                                a(ng-click='ctrl.saveArgument(Plaintiff.argument)')  Add Argument
                                        .arg-add
                                            span.add
                                                i.fa.fa-plus
                                                a(href='#')  Add Evidence

                            // Defendant

                            .col-md-6.col-sm-6
                                .argument
                                    header.arg-heading
                                        .row
                                            .col-lg-3.col-md-3.col-sm-3.col-xs-3
                                                img.img-circle.img-responsive.img-disputants.two(ng-src='{{ ctrl.dispute.Defendant.imgUrl }}', alt='')
                                            .col-lg-9.col-md-9.col-sm-9.col-xs-9
                                                h2 Defendant - Argument

                                    .arg-body(ng-show='ctrl.dispute.Arguments.defendant')
                                        p {{ ctrl.dispute.Arguments.defendant.argument }}

                                    div(ng-show="ctrl.role == 'defendant'")
                                        .arg-add(ng-show='!ctrl.dispute.Arguments.defendant')
                                            textarea.form-control(type="text", ng-model="Defendant.argument")
                                            span.add
                                                i.fa.fa-plus
                                                a(ng-click='ctrl.saveArgument(Defendant.argument)')  Add Argument
                                        .arg-add
                                            span.add
                                                i.fa.fa-plus
                                                a(href='#')  Add Evidence

                    // Comments

                    article.folio-comment.row
                        .col-md-12.col-sm-12
                            .form-group
                                textarea.form-control(rows='3', placeholder='Enter your comments on the case....')
                            .form-group
                                button.btn.btn-default#comment-input-btn(type='submit') Submit Comment

            // Right content

            .col-md-3.col-sm-3
                .right-content-area.index3-right
                    .top-right-content.index3-tpct
                        span.clase Case closes on
                        h2 {{ ctrl.dispute.activeUntil | date : 'MM.dd.yyyy - h:mma' }}
                    .bottom-right-content.index3-tpcb
                        h3 Jury
                        span.list
                            img.img-circle.img-responsive(src='img/list.png', alt='', ng-show='!ctrl.dispute.juries')
                            |  No Jurors Yet
                        a.index3-invite(href='#') Invite Jurors
