.container
    .row
        .col-md-9.col-sm-9
            .single-content
                .row
                    .col-md-2.col-sm-2(ng-show="!! ctrl.dispute.imgUrl")
                        img.img-circle.img-responsive(ng-src='/{{ctrl.dispute.imgUrl}}', alt='')
                    div(ng-class="ctrl.dispute.imgUrl ? 'col-md-10 col-sm-10' : 'col-md-12 col-sm-12'")
                        btn.btn.btn-info#edit
                            span.glyphicon.glyphicon-pencil
                        div.claim
                            h4 Claim
                            h3.name {{ ctrl.dispute.name }}
                            span.description {{ ctrl.dispute.description }}
                                div.disputants.defendant
                                    img#img(ng-src='{{ ctrl.dispute.Plaintiff.imgUrl }}')
                                    div.description
                                        p Plaintiff - Argument
                                        span.text {{ ctrl.dispute.Agruments.argument }}
                                div.disputants.defendant
                                    img#img(ng-src='{{ ctrl.dispute.Defendant.imgUrl }}')
                                    div.description
                                        p Defendant - Argument
                                        span.text   {{ ctrl.dispute.Agruments.argument }}

        .col-md-3.col-sm-3
            .right-content-area
                .top-right-content
                    h3 Case closes on
                    h2 {{ ctrl.dispute.activeUntil | date : 'MM/dd/yyyy - h:mma' }}
                .bottom-right-content
                    h3 Jury
                    h3(ng-show='!ctrl.dispute.juries') No Jurors Yet
                    a(href='/') Invite Jurors
