section.section-main-content.index3
    .container
        .row

            // Main content

            .col-md-9.col-sm-9
                .content-folio
                    button.btn.btn-danger#edit-btn(ng-click='ctrl.deleteDispute()')
                        span.glyphicon.glyphicon-trash
                    button.btn.btn-info#edit-btn()
                        span.glyphicon.glyphicon-pencil

                    header.folio-headline
                        span.cat Claim
                            span.private-dispute(ng-show='ctrl.dispute.isPrivate == 1') Private case
                        h2 {{ ctrl.dispute.name }}
                        p {{ ctrl.dispute.description }}
                    article.folio-body
                        .row

                            // Plaintiff

                            .col-md-6.col-sm-6
                                .argument
                                    header.arg-heading
                                        .row
                                            .col-lg-3.col-md-3.col-sm-3
                                                img.img-circle.img-responsive.img-disputants.one(ng-src='{{ ctrl.dispute.Plaintiff.imgUrl }}', alt='')
                                            .col-lg-9.col-md-9.col-sm-9
                                                h2 Plaintiff - Argument

                                    .arg-body(ng-show='ctrl.dispute.Arguments.plaintiff')
                                        p {{ ctrl.dispute.Arguments.plaintiff.argument }}

                                    div(ng-show="ctrl.role == 'plaintiff'")
                                        .arg-add(ng-show='!ctrl.dispute.Arguments.plaintiff')
                                            textarea.form-control(type="text", ng-model="Plaintiff.argument", placeholder='Type your argument here...')
                                            span.add
                                                i.fa.fa-plus
                                                a(ng-click='ctrl.saveArgument(Plaintiff.argument)')  Add Argument
                                        .arg-add
                                            span.add
                                                i.fa.fa-plus
                                                a(href='#')  Add Evidence

                            // Defendant

                            .col-md-6.col-sm-6
                                .argument
                                    header.arg-heading
                                        .row
                                            .col-lg-3.col-md-3.col-sm-3
                                                img.img-circle.img-responsive.img-disputants.two(ng-snow='ctrl.dispute.Defendant',
                                                                                                 ng-src='{{ ctrl.dispute.Defendant.imgUrl }}', alt='')
                                                img.img-circle.img-responsive.img-disputants.two(ng-show='!ctrl.dispute.Defendant',
                                                                                                 src='/img/defendant.png', alt='')

                                            .col-lg-9.col-md-9.col-sm-9
                                                h2 Defendant - Argument

                                    .arg-body(ng-show='ctrl.dispute.Arguments.defendant')
                                        p {{ ctrl.dispute.Arguments.defendant.argument }}

                                    div(ng-show="ctrl.role == 'defendant'")
                                        .arg-add(ng-show='!ctrl.dispute.Arguments.defendant')
                                            textarea.form-control(type="text", ng-model="Defendant.argument", placeholder='Type your argument here...')
                                            span.add
                                                i.fa.fa-plus
                                                a(ng-click='ctrl.saveArgument(Defendant.argument)')  Add Argument
                                        .arg-add
                                            span.add
                                                i.fa.fa-plus
                                                a(href='#')  Add Evidence

                    // Comments

                    article.folio-comment
                        form.form-horizontal
                            .form-group.index4-cmnt(ng-repeat='comment in ctrl.dispute.Comments')
                                ul
                                    li
                                        .left-group1
                                            img.img-circle.img-responsive.index4-cd1(ng-src='{{ comment.User.imgUrl }}', alt='')
                                        .left-group2
                                            img.img-circle.img-responsive.index4-cd2(ng-src='{{ comment.User.imgUrl }}', alt='')
                                        .right-group1
                                            header.tafo-cmnt1
                                                h2 {{ comment.User.name }}
                                                span.ago {{ comment.createdAt | relativeDate }}
                                                p {{ comment.text }}
                                                a(ng-click='ctrl.removeComment(comment.id)', ng-show='comment.User.id == ctrl.user.id')
                                                    span.glyphicon.glyphicon-trash
                                        .right-group2
                                            header.tafo-cmnt2
                                                .title
                                                    h2 {{ comment.User.name }}
                                                    span.ago {{ comment.createdAt | relativeDate }}
                                                p {{ comment.text }}
                                                a(ng-click='ctrl.removeComment(comment.id)', ng-show='comment.User.id == ctrl.user.id')
                                                    span.glyphicon.glyphicon-trash

                            // Comments input

                            .form-group(ng-show='ctrl.user')
                                textarea.form-control.one(type="text", rows='3', placeholder='Enter your comments on the case....', ng-model="ctrl.newComment")
                                textarea.form-control.two(type="text", rows='3', placeholder='Enter your comments on the case....', ng-model="ctrl.newComment")
                            .form-group(ng-show='ctrl.user')
                                button.btn.btn-default(type='submit', ng-click='ctrl.addComment(ctrl.newComment)') Submit Comment

            // Right content

            .col-md-3.col-sm-3
                .right-content-area.index3-right
                    .top-right-content.index3-tpct
                        span.clase Case closes on
                        h2 {{ ctrl.dispute.activeUntil | date : 'MM.dd.yyyy - h:mma' }}
                    .bottom-right-content.index3-tpcb
                        h3 Jury
                        span.list
                            img.img-circle.img-responsive(src='img/list.png', alt='', ng-show='!ctrl.dispute.juries')
                            |  No Jurors Yet
                        a.index3-invite(ng-click='ctrl.inviteJuries()') Invite Jurors
