/* ==========================================================================
   Base styles
   ========================================================================== */
html, button, input, select, textarea { color: #222; }
html {
  font-size: 1em;
  line-height: 1.4;
  position: relative;
  min-height: 100%;
}

input.ng-dirty.ng-invalid {
  border: 1px solid #822;
  background-color: #fcc;
}
main {
  margin-top: 25px;
  padding-bottom: 100px;
  @media only screen and (max-width: 767px){
    padding-bottom: 0;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: normal;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio, canvas, img, video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
@media only screen and (max-width: 1198px) {
  .container {
    width: 100%;
  }
}
/* ==========================================================================
   Common Right Content Area
   ========================================================================== */
.right-content-area {
  color: #727272;
  .top-right-content {
    background: rgba(0, 0, 0, 0) url("../images/rtbg.png") no-repeat scroll e("0 0 / 100% 100%");
    height: auto;
    padding: 14px 25px;
  }
  .bottom-right-content {
    background: rgba(0, 0, 0, 0) url("../images/rbbg.png") no-repeat scroll e("0 0 / 100% 100%");
    height: auto;
    padding: 18px 25px;
    border-bottom: 1px solid #e6e6e6;
  }
  h3 {
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    text-shadow: 0 1px 0 #fff;
    text-transform: uppercase;
    display: block;
  }
  span {
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
    padding: 8px 0 18px;
    width: 100%;
    &.line-height { line-height: 28px; }
  }
}

/* ==========================================================================
   Footer
   ========================================================================== */
footer{
  padding: 40px 0 30px;
  position: absolute;
  width: 100%;
  bottom: 0;
  p {
    color: #727272;
    font-size: 14px;
  }
}
.ul-footer {
  float: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    float: left;
  }
  a {
    color: #727272;
    font-size: 14px;
    margin-right: 15px;
  }
}

@media only screen and (max-width: 767px) {
  footer {
    display: block;
    overflow: hidden;
    padding: 40px 0 30px;
    position: relative;
    text-align: center;
  }
  .ul-footer {
    padding: 0;
    width: 100%;
    li {
      display: inline-block;
      float: none;
    }
  }
}

/* ==========================================================================
   Material Button
   ========================================================================== */
.btn {
  border: none;
  border-radius: 2px;
  text-transform: uppercase;
  transition: background-color 0.2s ease, box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  color: #fff;
}
.btn-danger {
  background-color: #FF5252;
  color: #fff;
  padding: 10px 15px;
}
/* ==========================================================================
   Animation
   ========================================================================== */
.slide {
  &.ng-enter {
    transition: 0.5s linear all;
    opacity: 0;
  }
  &.ng-enter.ng-enter-active {
    opacity: 1;
  }
}