.introjs-tooltiptext {
  margin: 5px;
}

.introjs-button {
  border: 0;
  border-radius: 2px;
  transition: background-color 0.2s ease, box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  color: #fff;
  text-shadow: none;
  font-size: 13px;
  margin: 2px;
  &:focus {
    text-decoration: none;
    outline: none;
  }
}

.introjs-nextbutton, .introjs-nextbutton:focus {
  background: #4caf50;
  color: #fff;
}
.introjs-nextbutton:hover {
  background: #59b75c;
  color: #fff;
}

.introjs-prevbutton, .introjs-prevbutton:focus {
  background: #f44336;
  color: #fff;
}
.introjs-prevbutton:hover {
  background: #f55549;
  color: #fff;
}

.introjs-skipbutton, .introjs-skipbutton:focus {
  background: #fff;
  color: #333;
}
.introjs-skipbutton:hover {
  background: #e6e6e6;
  color: #333;
}

.introjs-disabled, .introjs-disabled:hover, .introjs-disabled:focus, .introjs-disabled:active  {
  color: #9a9a9a;
  border-color: #d4d4d4;
  background: #f4f4f4;
}