/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
img,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

/* ==========================================================================
   Modal Area
   ========================================================================== */

.modal-header {
  background: #388e3c none repeat scroll 0 0;
  border-bottom: 1px solid #e5e5e5;
  color: #fff;
  min-height: 16.4286px;
  padding: 9px;
  text-align: center;
}
.modal-header .close {
  color: #fff;
  margin-top: -2px;
  opacity: 0.5;
}
.modal-body{
  background: #4CAF50;
}
.modal-body {

  margin-top: -1px;
}
.modal-amount-area {
  font-size: 18px;
  text-align: center;
  background: #4caf50 none repeat scroll 0 0;
  color: #98ee9d;
}
.text-top-left {
  color: #a4a4a4;
  float: left;
  font-size: 14px;
}

.text-top-right {
  color: #a4a4a4;
  float: right;
  font-size: 14px;
}
.modal-text {
  padding: 15px;
}
.modal-text > p {
  overflow: hidden;
}
hr{
  margin: 0;
}
.modal-button{
  float: right;
  background-color: #FF5252;
  color: #fff;
  padding: 10px 15px;
  border: none;
}
.login {
  background: #5171a7 none repeat scroll 0 0;
  color: #fff;
  font-size: 18px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  width: 85%;
}
.login a{
  color: #fff;
  text-decoration: none;
}
.login a:hover{
  text-decoration: none;
}
.login .fa {
  margin-right: 10px;
}
.dollar-ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-align: center;
}
.dollar-ul li{
  display: inline-block;
  color:#fff;
}
.dolar-amount {
  font-size: 54px;
  font-weight: bold;
  margin: 0 35px;
}

.dolar-minus, .dolar-plus {
  cursor: pointer;
  overflow: hidden;
  position: relative;
  top: -2px;
}
.dolar-minus img, .dolar-plus img {
  margin-top: 0;
}
.modal-amount-area > p {
  font-size: 24px;
}
.modal-hr{
  border-bottom: 1px solid #ddd;
}
/* ==========================================================================
   Checkbox jQuery
   ========================================================================== */
.modal-check {
  float: left;
}
.bootstrap-switch-handle-on, .bootstrap-switch-handle-off {
  font-size: 8px !important;
  padding-left: 5px !important;
}
.modal-check {
  color: #a4a4a4;
  font-size: 13px;
  position: relative;
}

/*******New Checkbox******/
.label {
  background: #303f9f none repeat scroll 0 0;
  border-radius: 30px;
  box-shadow: 0 0 0 30px #4a4a4a inset;
  display: block;
  height: 25px;
  left: 0;
  position: absolute;
  top: 10px;
  transition: all 300ms ease-in 0s;
  width: 200px;
  z-index: 1;
}
#switch {
  display: none;
  left: 100px;
  position: absolute;
  top: 60px;
}
#switch:before {
  content:"";
  position:absolute;
  top:-23px;
  left:-75px;
  height:80px;
  width:80px;
  border-radius:50%;
  display:block;
  background:#303f9f;
  border:none;
  z-index:2;
  box-shadow:inset 0 0 0 40px #5f5f5f,0 0 5px 0 #000;
  transition:box-shadow 500ms ease-in 0s, left 300ms ease-in 0s;
}
#switch:checked:before {
  left:90px;
  box-shadow:inset 0 0 0 0 #303f9f,0 0 5px 0 #000;
}
#switch:checked + label {
  box-shadow: inset 0 0 0 0 #4a4a4a;
}
.label:empty {
  display: block;
}
.private {
  font-size: 14px;
  left: -5px;
  position: relative;
  top: -5px !important;
}
.public{
  display: none !important;
}

/* ==========================================================================
    Index3 Style
   ========================================================================== */
.index3 {
  padding: 70px 0 0;
}
.cat {
  color: #aaaaaa;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  display: block;
}
.folio-headline h2 {
  color: #212121;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 8px;
}
.folio-headline p {
  color: #727272;
  font-size: 16px;
}
.folio-headline {
  margin-bottom: 45px;
}
.argument {
  border: 1px solid #e3e3e3;
  position: relative;
  box-shadow: 0 1px 2px #f7f7f7;
}
.arg-heading {
  border-bottom: 1px solid #e5e5e5;
  height: 83px;
  padding-top: 10px;
}
.arg-heading, .arg-body {
  margin: 0 24px;
}
.arg-body {
  height: 130px !important;
  margin-bottom: 19px;
  padding-top: 12px;
}
.arg-heading h2 {
  color: #444444;
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
  margin-bottom: 34px;
  text-transform: capitalize;
  margin-left: 5px;
}
.arg-heading img {
  background: none repeat scroll 0 0 #fff;
  padding: 1px;
  position: absolute;
  top: -18px;
}
.arg-heading img.one{
  border: 4px solid #1194f6;
}
.arg-heading img.two{
  border: 4px solid #47B04B;
}
.arg-body > p {
  font-size: 16px;
  text-align: left;
}
.arg-add {
  background: none repeat scroll 0 0 #fafafa;
  border-top: 1px solid #e5e5e5;
  height: 90px;
  padding: 30px 24px 0;
  text-align: center;
}
.add > a {
  color: #1194f6;
  font-size: 14px;
  outline: medium none;
  text-decoration: none;
  text-transform: capitalize;
}
.add .fa.fa-plus {
  background: none repeat scroll 0 0 #c6c6c6;
  border-radius: 50%;
  color: #fafafa;
  font-size: 14px;
  font-weight: lighter;
  height: 28px;
  line-height: 29px;
  text-align: center;
  width: 28px;
  margin-right: 5px;
}
.folio-body {
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 36px;
}
.form-horizontal .form-group {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
textarea.form-control {
  border-radius: 0;
  color: #ababab;
  float: right;
  font-size: 15px;
  height: 97px;
  padding: 20px 23px;
  width: 615px;
}
.form-group .btn.btn-default {
  background: none repeat scroll 0 0 #888888;
  border: medium none;
  border-radius: 0;
  box-shadow: 0 1px 1px 0 #e5e5e5;
  color: #ffffff;
  float: right;
  font-size: 15px;
  height: 44px;
  outline: medium none;
  width: 178px;
  display: block;
}
.folio-comment {
  margin-right: 40px;
  margin-top: 45px;
  margin-bottom: 28px;
}
.index3-tpct h2 {
  color: #212121;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 8px;
  margin-top: 12px;
}

a.index3-invite {
  text-align: center;
  display: block;
  padding-top: 14px;
}

/* ==========================================================================
   Index4 Style
   ========================================================================== */
.index4-add {
  background: none repeat scroll 0 0 #fafafa;
  border-bottom: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
  height: 98px !important;
  padding: 12px 24px;
  text-align: center;
}
.index4-add > ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.index4-add li {
  float: left !important;
}
.index4-add li:nth-child(2) {
  margin: 0 12px 0 13px !important;
}
.index4-add a {
  display: block;
}
.img-responsive.add-img {
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #dcdcdc;
  height: 72px !important;
  padding: 4px;
  width: 111px !important;
}
.arg-vote {
  height: 68px;
  padding: 12px 24px;
  text-align: center;
}
.btn.btn-defaultt.puff {
  border: medium none;
  border-radius: 0;
  box-shadow: 0 1px 1px 0 #e5e5e5;
  color: #ffffff;
  display: block;
  font-size: 15px;
  height: 44px;
  outline: medium none;
  width: 178px;
  margin: 0 auto;
}
.defendant{
  background: #1194F6;
}
.plaintiff{
  background: #47B04B;
}

.index3-tpcb li a {
  color: #727272;
  display: block;
  font-size: 14px;
  line-height: 36px;
  text-decoration: none;
}
.img-responsive.tapo {
  height: 32px !important;
  width: 32px !important;
}

.morejuror {
  color: #727272 !important;
  font-size: 12px !important;
  left: 134px;
  position: relative;
  top: -37px;
  word-spacing: -0.9px;
  padding-bottom: 10px;
  display: block;
}

.tafo-cmnt1 {
  border: 1px solid #e5e5e5;
  float: right;
  padding: 24px 23px;
  position: relative;
  width: 615px;
  background: none repeat scroll 0 0 #fafafa;
}
.tafo-cmnt2 {
  border: 1px solid #e5e5e5;
  padding: 24px 23px;
  position: relative;
  width: 100%;
  background: none repeat scroll 0 0 #fafafa;
}
.index4-cmnt > ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

.tafo-cmnt1::before {
  background: none repeat scroll 0 0 #fafafa;
  border-bottom: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  border-top: 0 none;
  content: "";
  height: 20px;
  left: -11px;
  position: absolute;
  top: 21px;
  transform: rotate(44deg);
  width: 20px;
}
.tafo-cmnt2::after {
  background: none repeat scroll 0 0 #fafafa;
  border-left: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
  content: "";
  height: 20px;
  left: 7%;
  position: absolute;
  top: -11px;
  transform: rotate(44deg);
  width: 20px;
}

.index4-cmnt li {
  float: left;
  width: 100%;
}


textarea.form-control.one {
  border-radius: 0;
  color: #ababab;
  float: right;
  font-size: 15px;
  height: 97px;
  padding: 20px 23px;
  width: 615px;
}

textarea.form-control.two {
  border-radius: 0;
  color: #ababab;
  float: right;
  font-size: 15px;
  height: 97px;
  margin-top: 15px;
  padding: 20px 23px;
  width: 100%;
}

.left-group1 {
  display: block;
  float: left;
  padding-left: 14%;
}
.left-group2 {
  display: none;
  margin-bottom: 25px;
  padding-left: 5%;
  width: 100%;
}
.right-group1 {
  display: block;
  float: right;
  margin-left: 20px;
  width: 615px;
}
.right-group2 {
  width: 100%;
  display: none;
}
textarea.form-control.one {
  display: block;
}
textarea.form-control.two {
  display: none;
}

.title {
  overflow: hidden;
}


.img-circle.img-responsive.index4-cd1 {
  float: right;
}
.img-circle.img-responsive.index4-cd2 {
  float: none;
}
.tafo-cmnt1 h2, .tafo-cmnt2 h2 {
  clear: both;
  color: #444444;
  display: block;
  float: left;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 0;
}
.tafo-cmnt1 .ago, .tafo-cmnt2 .ago {
  color: #c0c0c0;
  float: right;
  font-size: 13px;
}
.tafo-cmnt1 > p, .tafo-cmnt2 > p {
  clear: both;
  display: block;
  font-size: 14px !important;
  width: 100%;
  color: #727272;
}

.tafo-cmnt1 h2 {

}
.tafo-cmnt1 .ago {

}
.tafo-cmnt1 > p {
}

.tafo-cmnt2 .title {
  margin-bottom: 5px;
}
.tafo-cmnt2 h2 {
  width: 100%;
  float: left;
  margin-bottom: 0;
}
.tafo-cmnt2 .ago {
  width: 100%;
  float: left;
}
.tafo-cmnt2 > p {
  text-align: left !important;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * {
    background: transparent !important;
    color: #000 !important; /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group; /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}