.row
    .single-content-part.col-md-6.col-sm-6.col-xs-12
        h1 My Cases
        .single-content-column.row(ng-repeat="dispute in self.disputes.my")
            .col-lg-3.col-md-3.col-sm-3(ng-if="dispute.imgUrl")
                img.img-circle.img-responsive(ng-src='/{{dispute.imgUrl}}')
            .col-md-9.col-sm-9.col-sm-9
                .only-content-text
                    h2: a(ui-sref='disputes.single({ id : dispute.id })') {{ dispute.name }}
                    p {{ dispute.description }}
                    ul.ul-single
                        li: a {{ dispute.votes || 'no' }} votes
                        li /
                        li: a {{ dispute.createdAt | relativeDate }}
                        li /
                        li: a(ui-sref='dispute.list({ category : dispute.category })') {{ dispute.category }}
                        li /
                        li: a(ng-if='dispute.isPrivate', style='color: #FF504D;') Private

    .single-content-part.col-md-6.col-sm-6.col-xs-12
        h1 Judging
        .single-content-column.row(ng-repeat="dispute in self.disputes.judging")
            .col-lg-3.col-md-3.col-sm-3(ng-if="dispute.imgUrl")
                img.img-circle.img-responsive(ng-src='/{{dispute.imgUrl}}')
            .col-md-9.col-sm-9.col-sm-9
                .only-content-text
                    h2: a(ui-sref='disputes.single({ id : dispute.id })') {{ dispute.name }}
                    p {{ dispute.description }}
                    ul.ul-single
                        li: a {{ dispute.votes || 'no' }} votes
                        li /
                        li: a {{ dispute.createdAt | relativeDate }}
                        li /
                        li: a(ui-sref='dispute.list({ category : dispute.category })') {{ dispute.category }}
                        li /
                        li: a By {{ dispute.Plaintiff.name }}
                        li /
                        li: a(ng-show='dispute.isPrivate', style='color: #FF504D;') Private