mixin template-modal-auth
    .modal.fade#modal-auth(tabindex='-1', role='dialog', aria-labelledby='myModalLabel1', aria-hidden='true')
        .modal-dialog
            .row
                .col-md-8.col-md-offset-2
                    .modal-content
                        .modal-header
                            button.close(type='button', data-dismiss='modal', aria-label='Close')
                                span(aria-hidden='true') &times;
                            p#myModalLabel1.modal-title Login
                        .modal-footer
                            .login
                                a(href='#')
                                    i.fa.fa-facebook-square
                                    | Log in with Facebook