script#navbar-left(type="text/html")
    ul.nav.navbar-nav
        li: a#all(href="/disputes"): span All
        li: a#relationship(href="/disputes?type=relationship"): span Relationship
        li: a#housing(href="/disputes?type=housing"): span Housing
        li: a#food(href="/disputes?type=food"): span Food

script#navbar-right(type="text/html")
    ul.nav.navbar-nav.navbar-right
        | <% if (!user) { %>
        li: a.btn.btn-default#account(
        href="https://www.facebook.com/dialog/oauth?client_id=1430810303881868&redirect_uri=http://kangaroo.loc:5000/oauth/facebook&scope=email"
        ) Login
        | <% } else { %>
        li.dropdown: a.dropdown-toggle(data-toggle="dropdown", data-target="#", aria-expanded="false")
            | <img id=avatar src='<%=user.imgUrl %>'></img>
            span: | <%= user.firstName %>
            span.caret
            ul.dropdown-menu
                li: | <a href="/user/<%=user.id %>">My disputes</a>
                li.divider
                li: a(href="/logout") Log out
        | <% } %>
        li: button.btn.btn-danger.btn-raised#add-btn(data-toggle="modal", data-target="#newDispute")
            div.mdi-content-add