div(ng-controller="ModalDemoCtrl")
<script type="text/ng-template" id="myModalContent.html">
.container
    .modal.fade#modal-newDispute(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog
            form(action='/api/disputes', method='post', enctype='multipart/form-data')
                .row
                    .col-md-8.col-md-offset-2
                        .modal-content
                            .modal-header
                                button.close(type='button', data-dismiss='modal', aria-label='Close')
                                    span(aria-hidden='true') &times;
                                p#modal-newDispute.modal-title File complaint
                            .modal-body#amount
                                p Amount wagared
                                .col-md-4.col-sm-4.col-xs-4
                                    .btn.btn-success.dollar-minus -
                                .col-md-4.col-sm-4.col-xs-4
                                    input.form-control#bet(type='text', name='bet')
                                .col-md-4.col-sm-4.col-xs-4
                                    div.btn.btn-success.dollar-plus +
                            .modal-body
                                .form-group
                                    span.text-top
                                        .text-top-left Name
                                    input.form-control(type='text', name='name')
                                .form-group
                                    span.text-top
                                        .text-top-left Complain summary
                                        .text-top-right 240 of 400
                                    textarea.form-control(type='text', name='description')
                                .form-group
                                    span.text-top
                                        .text-top-left Plaintiff Email
                                    input.form-control(type='email', placeholder='Email', name='email')
                                .form-control-wrapper.fileinput
                                    span.text-top
                                        .text-top-left Photo
                                    input#inputFile(type="file" multiple="", name='image')
                            .modal-footer
                                .modal-check
                                    input(type='checkbox', name='private-checkbox', checked='')
                                    | Private?
                                button.modal-button New complaint