nav.navbar
    .navbar-header(ui-sref="disputes.list({ category : ''})")
        img.logo(src='/images/logo.png', alt='')
        span.navbar-brand.hidden-xs Kangaroocourt
    ul.nav.navbar-nav.navbar-right
        li.facebook(ng-show='!self.authenticated')
            a(ng-href='{{self.oauthLinks.facebook}}')
                i.fa.fa-facebook-square
                | Facebook Login
        li.dropdown(ng-show='self.authenticated', dropdown, on-toggle='toggled(open)')
            a.dropdown-toggle(dropdown-toggle='')
                .avatar
                    img(ng-src='{{self.user.imgUrl}}')
                span {{self.user.name}}
            ul.dropdown-menu
                li(ng-if='self.authenticated'): a(ui-sref='profile.disputes')
                    i.fa.fa-briefcase
                    |  My Cases
                li: a(ng-click='self.logout()')
                    i.fa.fa-power-off
                    | Logout
        li.create(ng-click='self.createDispute()')
            a + New complaint


.container.navigation
    button.btn.hidden-sm.hidden-md.hidden-lg(ng-click="self.toggleCollapsedMenu()")#collapse-btn
        span MENU
        span.glyphicon.glyphicon-list

    div(collapse="self.collapsedMenu")
        ul.ul-mainmenu.hidden-sm.hidden-md.hidden-lg
            li: a(ui-sref="disputes.list({ category : ''})"
                  ui-sref-active='active') All
            li(ng-repeat='category in self.categories')
                a(ui-sref="disputes.list({ category : category})"
                  ui-sref-active='active') {{ self.CommonService.capitalize(category) }}

    ul.ul-mainmenu.hidden-xs
        li: a(ui-sref="disputes.list({ category : ''})"
              ui-sref-active='active') All
        li(ng-repeat='category in self.categories')
            a(ui-sref='disputes.list({ category : category })'
              ui-sref-active='active') {{ self.CommonService.capitalize(category) }}