doctype html
html(ng-app="kangaroo")
    head
        title Kangaroo Court
        base(href="/")
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        block styles
            link(rel="stylesheet", href="/css/bootstrap.css", type="text/css")
            link(rel="stylesheet", href="/css/style.css", type="text/css")
            link(rel="stylesheet", href="/css/myStyles.css", type="text/css")

        link(href='http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css', rel='stylesheet')
        link(href='http://fonts.googleapis.com/css?family=Roboto:400,700', rel='stylesheet', type='text/css')

        //-script(type="text/javascript",src='js/vendor/modernizr-2.6.2.min.js')

    body(ng-cloak)
        header-menu
        div(ng-view)

        footer.footer-area
            .container
                .row
                    .col-md-6.col-sm-6
                        p Copyright © Kangaroo Court 2015
                    .col-md-6.col-sm-6
                        ul.ul-footer
                            li: a(href='#') About
                            li: a(href='#') Contact
                            li: a(href='#') Follow us on Twitter
        block script
            script(type='text/javascript', src='/js/vendor.js')
            script(type='text/javascript', src='/js/all.js')